/* A few global rules to remove default paddings etc. */
* {
	border: 0;
	font-family: arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

main {
	display: block;
}

header {
	border-bottom: 5px solid #96BDE1;
}

.logo {
	height: 70px;
	margin: 20px 0;
	width: auto;
}

.content {
	margin: 0 auto;
	max-width: 950px;
	text-align: left;
}

/* Extra margin on sides when page content fills screen */
@media (max-width: 990px) {
	.content {
		margin: 0 20px;
	}
}

h1 {
	font-size: 35px;
	font-weight: normal;
	padding: 20px 0;
}

.sort-by {
	border-bottom: 5px solid #B760A9;
}

.sort-by a {
	position: relative;
	background: #B9B8B8;
	display: inline;
	color: #FFF;
	font-size: 14px;
	font-stretch: condensed;
	line-height: 25px;
	margin-right: 10px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.sort-by a::after {
	content: "";
	border-bottom: 26px solid #B9B8B8;
	border-right: 15px solid transparent;
	height: 0;
	left: 100%;
	top: 0;
	position: absolute;
	width: 0;
}

.sort-by .active-filter {
	background: #B760A9;
}

.sort-by .active-filter::after {
	border-bottom: 26px solid #B760A9;
}

.add-image-button {
	background: #B760A9;
	border-radius: 5px;
	color: #FFF;
	float: right;
	font-size: 14px;
	margin-top: -50px;
	padding: 10px 20px;
	text-transform: uppercase;
}

.gallery-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-around;
	margin-top: 15px;
}

.arrow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 15px;
	border-radius: 5px;
	width: 25px;
	background: #E1E1E1;
	color: #B760A9;
	font-size: 40px;
}

.disabled {
	color: #FFF;
}

.gallery-thumbnails {
	-ms-flex-line-pack: justify;
	align-content: space-between;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: space-around;
	margin-top: -5px;
	width: 100%;
}

.gallery-image-thumbnail {
	background: #B1B1B1;
	height: 80px;
	margin: 5px 2px;
	width: 120px;
}

.gallery-image-empty {
	height: 0;
	margin: 5px 2px;
	width: 120px;
}

.gallery-page-nav {
	width: 100%;
	font-size: 11px;
	color: #777;
	text-align: right;
}

.gallery-page-nav-arrow {
	border: 1px solid #E1E1E1;
	padding: 3px;
}

.filter-share-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 30px;
}

.search-container {
	/*display: inline-block;*/
	max-width: 450px;
}

.search-title {
	display: inline;
	color: #B760A9;
	font-weight: normal;
	text-transform: uppercase;
}

.current-images {
	display: inline;
	color: #B760A9;
	font-size: 11px;
	margin-left: 10px;
}

.filters {
	margin-top: 5px;
}

.filters select {
	padding: 3px;
	border: 1px solid #E1E1E1;
	font-size: 11px;
}

.tags-container {
	margin-top: 5px;
	display: -ms-flexbox;
	display: flex;
}

.tags-container h3 {
	font-weight: normal;
	font-size: 11px;
	margin: 1px 5px 0 0;
}

.tags {
	line-height: 12px;
}

.tags a {
	margin-right: 5px;
	color: #B760A9;
	font-size: 11px;
}

.social-media {
	/*float: right;*/
	height: 16px;
	margin-top: 35px;
	text-align: right;
}

.social-media h2, .social-media a, .social-media span {
	display: inline;
	color: #438FCC;
	font-size: 10px;
	text-decoration: none;
}

.social-media span {
	margin: 0 5px;
}

footer {
	margin: 20px 0 20px 0;
	color: #777;
}

.contact-info {
	padding: 5px 10px;
	background: #0059A1;
}

.contact-info h2 {
	display: inline;
	margin-right: 10px;
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
}

.contact-info p, .contact-info span {
	display: inline;
	color: #438FCC;
	font-size: 10px;
}

.bottom-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 10px;
	font-size: 9px;
	line-height: 2;
}

.bottom-nav-empty {
	display: none;
}

@media (max-width: 760px) {
	.bottom-nav-empty {
		display: block;
		height: 0;
	}
}

.bottom-nav div {
	margin: 0 3px 5px 0;
}


.bottom-nav h3 {
	text-transform: uppercase;
}

.bottom-nav a {
	display: block;
	color: #777;
	text-decoration: none;
}

.a-z {
	text-align: right;
	border-bottom: 3px solid #0059A1;
}

.a-z a {
	color: #777;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.footer-links {
	text-align: center;
}

.footer-links a {
	margin: 0 5px;
	color: #777;
	font-size: 9px;
	text-decoration: none;
	text-transform: uppercase;
}
