/************************************/
/*			GLOBAL RULES			*/
/************************************/

/* A few global rules to remove default paddings etc. */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: arial, sans-serif;
	font-size: 100%;
}

/* Center all content */
.content {
	margin: 0 auto;
	max-width: 950px;
	text-align: left;
}

/* Extra margin on sides when page content fills screen */
@media (max-width: 990px) {
	.content {
		margin: 0 20px;
	}
}



/****************************/
/*			HEADER			*/
/****************************/

header {
	border-bottom: 5px solid #96BDE1;
}
	.logo {
		margin: 20px 0;
		height: 70px;
		width: auto;
	}



/************************************************/
/*			MAIN CONTENT GENERAL RULES			*/
/************************************************/

/* IE treats main element as inline */
main {
	display: block;
}

h1 {
	padding: 20px 0;
	font-size: 35px;
	font-weight: normal;
}



/****************************************/
/*			SORTING AND ADDING			*/
/****************************************/
.sort-by {
	border-bottom: 5px solid #B760A9;
}

	.sort-by a {
		position: relative;
		margin-right: 10px;
		padding: 5px 10px;
		background: #B9B8B8;
		color: #FFF;
		font-size: 14px;
		font-stretch: condensed;
		line-height: 25px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.sort-by a::after {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		height: 0;
		width: 0;
		border-right: 15px solid transparent;
		border-bottom: 26px solid #B9B8B8;
	}

	.sort-by .active-filter {
		background: #B760A9;
	}

	.sort-by .active-filter::after {
		border-bottom: 26px solid #B760A9;
	}

.add-image-button {
	float: right;
	margin-top: -50px;
	padding: 10px 20px;
	border-radius: 5px;
	background: #B760A9;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
}



/****************************/
/*			GALLERY			*/
/****************************/
.gallery-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-around;
	margin-top: 15px;
}

	.arrow {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 15px;
		width: 25px;
		border-radius: 5px;
		background: #E1E1E1;
		color: #B760A9;
		font-size: 40px;
	}

	.disabled {
		color: #FFF;
	}

	.gallery-thumbnails {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-line-pack: justify;
		align-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-around;
		-ms-flex-wrap: wrap;
		flex-flow: row wrap;
		margin-top: -5px;
		width: 100%;
	}

		.gallery-image-thumbnail {
			margin: 5px 2px;
			height: 80px;
			width: 120px;
			background: #B1B1B1;
		}

		.gallery-image-empty {
			margin: 5px 2px;
			height: 0;
			width: 120px;
		}

	.gallery-page-nav {
		width: 100%;
		color: #777;
		font-size: 11px;
		text-align: right;
	}

		.gallery-page-nav-arrow {
			padding: 3px;
			border: 1px solid #E1E1E1;
		}



/********************************************/
/*			FILTERING AND SHARING			*/
/********************************************/
.filter-share-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 30px;
}

	.filter-container {
		max-width: 450px;
	}

		.filter-title {
			display: inline;
			color: #B760A9;
			font-weight: normal;
			text-transform: uppercase;
		}

		.current-images {
			display: inline;
			margin-left: 10px;
			color: #B760A9;
			font-size: 11px;
		}

		.filters {
			margin-top: 5px;
		}

			.filters select {
				padding: 3px;
				border: 1px solid #E1E1E1;
				font-size: 11px;
			}

		.tags-container {
			display: -ms-flexbox;
			display: flex;
			margin-top: 5px;
	}

			.tags-container h3 {
				margin: 1px 5px 0 0;
				font-weight: normal;
				font-size: 11px;
			}

			.tags {
				line-height: 12px;
			}

				.tags a {
					margin-right: 5px;
					color: #B760A9;
					font-size: 11px;
				}

.social-media {
	margin-top: 35px;
	height: 16px;
	text-align: right;
}

	.social-media h2, .social-media a, .social-media span {
		display: inline;
		color: #438FCC;
		font-size: 10px;
		text-decoration: none;
	}

	.social-media span {
		margin: 0 5px;
	}



/****************************/
/*			FOOTER			*/
/****************************/
footer {
	margin: 20px 0 20px 0;
	color: #777;
}



/****************************/
/*			INFO			*/
/****************************/
	.contact-info {
		padding: 5px 10px;
		background: #0059A1;
	}

		.contact-info h2 {
			display: inline;
			margin-right: 10px;
			color: #FFF;
			font-size: 14px;
			font-weight: normal;
		}

		.contact-info p, .contact-info span {
			display: inline;
			color: #438FCC;
			font-size: 10px;
		}



	/************************/
	/*			NAV			*/
	/************************/
	.bottom-nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: 10px;
		line-height: 2;
		font-size: 9px;
	}

		.bottom-nav div {
			margin: 0 3px 5px 0;
		}

		/* The empty elements take up space, so only display them when elements with content start wrapping*/
		.bottom-nav-empty {
			display: none;
		}

		@media (max-width: 760px) {
			.bottom-nav-empty {
				display: block;
				height: 0;
			}
		}

		.bottom-nav h3 {
			text-transform: uppercase;
		}

		.bottom-nav a {
			display: block;
			color: #777;
			text-decoration: none;
		}



	/************************/
	/*			A-Z			*/
	/************************/
	.a-z {
		border-bottom: 3px solid #0059A1;
		text-align: right;
	}

		.a-z a {
			color: #777;
			font-size: 9px;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
		}



	/************************************/
	/*			FOOTER LINKS			*/
	/************************************/
	.footer-links {
		text-align: center;
	}

	.footer-links a {
		margin: 0 5px;
		color: #777;
		font-size: 9px;
		text-decoration: none;
		text-transform: uppercase;
	}
